body {
  background-color: rgb(212, 199, 199)(0, 255, 242);
}

/* Increase text size and center navbar */
.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.nav-item{
  margin-right: 60px;
  margin-top: 10px;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  font-size: 40px; /* Increase text size */
  border-spacing: 5%;
}

.nav-link:hover{
  color: yellow;
}

.footer {
  background-color: #333; /* Dark background for the footer */
  color: #fff; /* Light text color for contrast */
  text-align: center; /* Center-align the text */
  padding: 20px 0; /* Add padding above and below the text */
  font-size: 16px; /* Set a comfortable reading font size */
  position: absolute; /* Or 'fixed' depending on your layout needs */
  left: 0;
  bottom: 0;
  width: 100%;
}
